{% extends '_base.html' %}

{% block pagetitle%}
BlogLite | Login
{% endblock %}

{% block body %}
<div class="py-5 d-flex align-items-center w-100">
    <div class="container">
        <h1 class="text-center display-6 mb-5">Welcome to BlogLite</h1>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center mb-3">
                    <b>Sign in to your account</b>
                </div>
                <form method="post" action="{{url_for('login')}}">
                    <div class="form-floating mb-3">
                        <input class="form-control" name="username" id="username" type="text" placeholder="Enter your username"  />
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="form-floating input-group mb-3">
                        <input class="form-control" name="password" id="password" type="password" placeholder="Enter your password"  />
                        <button class="btn btn-link" type="button" id="toggle_password">
                            <!-- <i class="fa fa-eye"></i> -->
                            <i class="bi bi-eye"></i>
                        </button>
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 d-block" id="submit" value="submit">Write away</button>
                </form>
                <div class="mt-3">
                    Don't have an account? <a href="/signup">Create one</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}