$primary: #ff8e49;
$secondary: #ac8977;
$tertiary: #979360;
$neutral: #998f8a;

$red: #e63838;
$yellow: #fac228;
$green: #4caf50;
$white: #fff;
$black: #000;

$success: $green;
$warning: $yellow;
$danger: $red;
$dark: #222;
$light: #eee;

